<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nelson.glidetest">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <meta-data
      android:name="com.nelson.glidetest.SimpleGlideModule"
      android:value="GlideModule"/>
    <!--  <meta-data
              android:name="com.zihuatanejo.glidetest.UnsafeOkHttpGlideModule"
              android:value="GlideModule"/>-->
    <!-- <meta-data
             android:name="com.zihuatanejo.glidetest.CustomCachingGlideModule"
             android:value="GlideModule"/>-->

    <meta-data
      android:name="com.nelson.glidetest.CustomImageSizeGlideModule"
      android:value="GlideModule"/>

    <meta-data
      android:name="com.nelson.glidetest.okhttp.OkHttpGlideModule"
      android:value="GlideModule"/>


    <activity android:name="com.nelson.glidetest.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".GlideTestActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.glidetest"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.SimpleUsinglActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.simpleusing"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.ImageListActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.imagelist"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.CrossFadeActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.crossfade"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.ResizeActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.resize"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.CacheActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.cache"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.PriorityActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.priority"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.ThumbnailActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.thumbnail"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.ViewTargetActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.viewtarget"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.NotificationTargetActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.notification"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity android:name=".activity.ExceptionActivity">
      <intent-filter>
        <action android:name="com.nelson.glidetest.exception"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>






    <activity android:name="com.nelson.glidetest.LoadProgressActivity"/>
  </application>

</manifest>